@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #eee;
  color:#666;
}

.login-container{
  height: 100vh;
  width: 100%;
}

.login-form{
  margin: auto;
  width: 370px;
  padding: 15px;
  max-width: 100%;
}
.login-form .form-control{
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}
.login-form a{
  text-decoration: none;
  color:#666;
}
.login-form a:hover{
  color: #000;
}
.forgot-link{
  font-size: 13px;
}

.form-control:focus{
  border-color:#FFD54F;
  box-shadow: #FFD54F;
}
.btn-custom{
  background: #FFD54F;
  border-color:#FFD54F;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
  background: #000;
  border-color: #000;
  color:#FFD54F;
}
.btn-custom:focus{
  box-shadow: #FFD54F;
}